{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Низовина</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'home' %}" class="logo"><img style="width: 100%" src="{% static 'img/logo.svg' %}" /></a>
            <div class="burger-menu">
                <div class="burger-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <ul class="menu">
                    {% for category in categories %}
                    {% if not category.parent %}
                    <li class="parent-category">
                        {% if current_language == "en" %}
                        <a href="{% url 'category_articles' category.id %}" class="menu-link">{{ category.name_en }}</a>
                        {% else %}
                        <a href="{% url 'category_articles' category.id %}" class="menu-link">{{ category.name_ua }}</a>
                        {% endif %}
                        {% if category.children.all %}
                        <ul class="sub-menu">
                            {% include 'recursive_menu.html' with category=category %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li><a href="{% url 'about_us' %}" class="menu-link">{% trans "Про нас" %}</a></li>
                </ul>
                <form action="{% url 'set_language' %}" method="post" class="language-form">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <div class="dropdown">
                        <button type="button" class="dropbtn">
                            {% if current_language == "en" %}
                            ENG
                            {% else %}
                            UA
                            {% endif %}
                            ᨆ
                        </button>
                        <div class="dropdown-content">
                            <button type="submit" name="language" value="en">English</button>
                            <button type="submit" name="language" value="ua">Українська</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </header>
    <div class="ticker" id="ticker">
        <div class="ticker__wrapper">
            <div class="ticker__item">
                <span>\\</span>
                <span>{% trans "журнал сучасної лібертарної думки" %}</span>
                <span>\\</span>
                <span>{% trans "НИЗОВИНА" %}</span>
            </div>
            <div class="ticker__item">
                <span>\\</span>
                <span>{% trans "журнал сучасної лібертарної думки" %}</span>
                <span>\\</span>
                <span>{% trans "НИЗОВИНА" %}</span>
            </div>
            <div class="ticker__item">
                <span>\\</span>
                <span>{% trans "журнал сучасної лібертарної думки" %}</span>
                <span>\\</span>
                <span>{% trans "НИЗОВИНА" %}</span>
            </div>
            <div class="ticker__item">
                <span>\\</span>
                <span>{% trans "журнал сучасної лібертарної думки" %}</span>
                <span>\\</span>
                <span>{% trans "НИЗОВИНА" %}</span>
            </div>
        </div>
    </div>
    {% block support_us %}{% endblock %}
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="footer-row1">
                <a href="{% url 'home' %}" class="logo"><img style="width: 100%" src="{% static 'img/logo.svg' %}" /></a>
                <div>
                    <a href="https://www.instagram.com/magazine_nyzovyna?igsh=MWgwZHB2cWFucXZ5eg==">{% trans "Instagram" %}</a>
                    <a href="https://t.me/magazine_Nyzovyna">{% trans "Telegram" %}</a>
                </div>
            </div>
            <div class="footer-row2">
                {% for category in categories %}
                {% if not category.parent %}
                {% if current_language == "en" %}
                <a href="{% url 'category_articles' category.id %}" class="menu-link">{{ category.name_en }}</a>
                {% else %}
                <a href="{% url 'category_articles' category.id %}" class="menu-link">{{ category.name_ua }}</a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </footer>
    <script>
        const mainElement = document.querySelector('main');
        const bodyElement = document.querySelector('body');
        const themeToggle = document.getElementById('themeToggle');

        themeToggle.addEventListener('change', () => {
            if (themeToggle.checked) {
                mainElement.classList.add('light');
                bodyElement.classList.add('light');
            } else {
                mainElement.classList.remove('light');
                bodyElement.classList.remove('light');
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const burgerIcon = document.querySelector(".burger-icon");
            const menu = document.querySelector(".menu");

            burgerIcon.addEventListener("click", function () {
                menu.classList.toggle("active");
                bodyElement.classList.toggle("overflow-hidden")
            });
        });
    </script>

    <script>
        document.getElementById("ticker").addEventListener("click", function () {
            window.location.href = "{% url 'home' %}";
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const parentCategories = document.querySelectorAll('.parent-category');
            let subMenuTimeout;

            parentCategories.forEach(function (category) {
                const subMenu = category.querySelector('.sub-menu');

                if (window.innerWidth <= 768) {
                    category.addEventListener('click', function (event) {
                        event.preventDefault();
                        var link = event.currentTarget.querySelector('a');
                        if (link) {
                            var href = link.getAttribute('href');
                        }


                        if (subMenu) {
                            subMenu.style.display = 'flex';
                        } else {
                            window.location.href = href;
                        }


                    });
                } else {
                    category.addEventListener('mouseenter', function () {
                        if (subMenu) {
                            clearTimeout(subMenuTimeout);
                            subMenu.style.display = 'flex';
                        }
                    });

                    category.addEventListener('mouseleave', function () {
                        subMenuTimeout = setTimeout(function () {
                            subMenu.style.display = 'none';
                        }, 400);
                    });

                    if (subMenu) {
                        subMenu.addEventListener('mouseenter', function () {
                            clearTimeout(subMenuTimeout);
                        });

                        subMenu.addEventListener('mouseleave', function () {
                            subMenu.style.display = 'none';
                        });
                    }
                }
            });
        });



    </script>


    <style>
        .sub-menu {
            display: none;
            z-index: 3;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropbtn = document.querySelector('.dropbtn');
            const dropdownContent = document.querySelector('.dropdown-content');

            dropbtn.addEventListener('click', function () {
                dropdownContent.classList.toggle('show');
            });

            dropbtn.addEventListener('mouseenter', function () {
                dropdownContent.classList.add('show');
            });

            dropbtn.addEventListener('mouseleave', function (event) {
                if (!dropdownContent.contains(event.relatedTarget)) {
                    dropdownContent.classList.remove('show');
                }
            });

            dropdownContent.addEventListener('mouseleave', function (event) {
                if (!dropbtn.contains(event.relatedTarget)) {
                    dropdownContent.classList.remove('show');
                }
            });

            // Закрытие дропдауна при клике вне его
            window.addEventListener('click', function (event) {
                if (!dropbtn.contains(event.target) && !dropdownContent.contains(event.target)) {
                    dropdownContent.classList.remove('show');
                }
            });
        });


    </script>

</body>
</html>
