{% extends 'base.html' %}
{% load i18n %}


{% block content %}

{% if this_category %}
    {% if current_language == "en" %}
    <h1>{{ this_category.name_en }}</h1>
    {% else %}
    <h1>{{ this_category.name_ua }}</h1>
    {% endif %}
{% else %}
<h1>{% trans "Всі статті" %}</h1>
{% endif %}

<style>
    main {
        background: url('/static/img/bg.png') no-repeat;
        background-size: cover;
    }
</style>

<div class="articles-container">

    {% for article in articles reversed %}

        {% if forloop.first %}
    <div class="article-card">

        <a href="{% url 'article' article.slug %}" style="display: block; padding: 0; height: 231px">
            <div class="card-image"
                 style="background: url('{{ article.image.url }}') no-repeat;
                        background-size: cover;
                        background-position: center">
            </div>
        </a>

        <div class="card-text">
            <h3>
                <a href="{% url 'article' article.slug %}" style="text-decoration: none">
                    {{ article.name|striptags|truncatechars:130 }}
                </a>
            </h3>
            <p>
                {% autoescape off %}
                {{ article.text|linebreaks|striptags|truncatechars:700 }}
                {% endautoescape %}
            </p>
        </div>
    </div>
    {% else %}

    <div class="article-card">

        <a href="{% url 'article' article.slug %}" style="display: block; padding: 0; height: 231px">
            <div class="card-image"
                 style="background: url('{{ article.image.url }}') no-repeat;
                        background-size: cover;
                        background-position: center">
            </div>
        </a>

        <div class="card-text">
            <h3>
                <a href="{% url 'article' article.slug %}" style="text-decoration: none">
                    {{ article.name|striptags|truncatechars:80 }}
                </a>
            </h3>
            <p>
                {% autoescape off %}
                {{ article.text|linebreaks|striptags|truncatechars:160 }}
                {% endautoescape %}
            </p>
        </div>
    </div>

    {% endif %}
    
    {% endfor %}

</div>


{% endblock %}