{% load app_tags %}
{% load i18n %}


{% for reply in comment.replies.all reversed %}
<div class="comment" style="margin-left: 60px;">
    <div style="display: flex; align-items: center; gap: 32px">
        <p style="font-weight: bold">{{ reply.author }}</p>
        <p style="font-size: 16px; color: #828282">{{ reply.created_at|date:"d.m.Y" }}</p>
    </div>
    <p style="font-size: 16px; margin: 10px 0;">{{ comment.text }}</p>
    <a style="text-decoration: none; color: gray; cursor: pointer" onclick="toggleReplyForm('{{ reply.id }}')">
        <span style="font-size: 1.4em">&#x21A9;</span>
        {{ translate.reply }}
    </a>
</div>

<div class="comment-form reply-form" id="reply-form-{{ reply.id }}" style="display: none; margin-top: 20px; margin-left: 60px;">
    <form action="{% url 'comment' %}" method="POST" class="form">
        {% csrf_token %}
        <input hidden value="{{ reply.id }}" name="parent_comment_id">
        <input hidden value="{{article.id}}" name="article_id" />
        <input class="comment-input-name" type="text" placeholder="{{ translate.enter_name }}" required name="author" />
        <textarea class="comment-input-text" placeholder="{{ translate.enter_comment }}" required name="text">{{ reply.author }}, </textarea>
        <button class="comment-btn" type="submit">{{ translate.reply }}</button>
    </form>
</div>
{% include 'comment.html' with comment=reply %}
{% endfor %}