{% extends 'base.html' %}

{% block content %}

<style>
    main {
        background: none;
        color: black;
    }


        main a {
            color: black;
        }
</style>

<h1>Кабінет редактора</h1>

<h2 style="margin-bottom: 24px">Опублікувати статтю</h2>

<form method="POST" action="{% url 'publish' %}" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <input type="text" name="article_name" placeholder="Заголовок статті" class="form" required />
    <input type="text" name="article_author" placeholder="Автор статті" class="form" required />
    <textarea name="article_text" placeholder="Текст статті" id="article_text" class="form"></textarea>
    <input type="file" name="article_image" accept="image/*" class="form" />
    <fieldset class="form">
        <label class="form">
            <input type="radio" name="language" value="ua" checked>
            <span class="form">Українська</span>
        </label>
        <label class="form">
            <input type="radio" name="language" value="en">
            <span class="form">Англійська</span>
        </label>
    </fieldset>
    <fieldset class="form">
        {% for category in categories %}
        <label>
            <input type="checkbox" name="categories" value="{{ category.id }}">
            <span class="form">{{ category.name_ua }}</span>
        </label>
        {% endfor %}
    </fieldset>
    <button type="submit" class="btn">Опублікувати</button>
</form>

<script>
    ClassicEditor
        .create(document.querySelector('#article_text'), {
            toolbar: ['heading', '|', 'bold', 'italic', '|', 'link', '|', 'bulletedList', 'numberedList', 'blockQuote']
        })
        .catch(error => {
            console.error(error);
        });
</script>

<h2 style="margin-top: 30px; margin-bottom: 24px">Категорії</h2>

<form class="form categories-form" method="POST" action="{% url 'create_category' %}">
    {% csrf_token %}
    <input type="text" name="name_ua" placeholder="Назва українською" class="form" required />
    <input type="text" name="name_en" placeholder="Назва англійською" class="form" required />
    <button type="submit" class="btn">Створити</button>
</form>

<ul class="toggle">
    {% for category in categories %}
    {% if not category.parent %}
    <li>
        <details>
            <summary>{{ category.name_ua }} ({{ category.name_en }})</summary>
            <button onclick="toggleForm('{{ category.id }}')" class="btn" style="color: black; background-color: white; border: none; margin-top: 8px; font-size: 14px">+ Додати підкатегорію</button>
            <form id="form_{{ category.id }}" class="form categories-form" method="POST" action="{% url 'create_category' %}" style="display: none; margin-top: 8px">
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{ category.id }}">
                <input type="text" name="name_ua" placeholder="Назва українською" class="form" required>
                <input type="text" name="name_en" placeholder="Назва англійською" class="form" required>
                <button type="submit" class="btn">Створити</button>
            </form>
            <ul class="toggle">
                {% include 'recursive_list.html' with categories=category.children.all %}
            </ul>
        </details>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<script>
    function toggleForm(categoryId) {
        var form = document.getElementById('form_' + categoryId);
        form.style.display = (form.style.display === 'none' ? 'flex' : 'none');
    }
</script>


<h2 style="margin-top: 30px; margin-bottom: 24px">Опубліковані статті</h2>

<div class="articles-container">

    {% for article in articles reversed %}

    <div class="article-card" id="article-{{article.id}}">
        <div class="card-content">
            <div class="card-image" style="background: url('{{ article.image.url }}') no-repeat; background-size: cover;">
                {% for category in article.categories.all %}
                <p>{{ category.name_ua }}</p>
                {% endfor %}
            </div>
            <div class="card-text">
                <h3><a href="{% url 'article' article.id %}" style="text-decoration: none">{{ article.name|linebreaks|truncatechars:130 }}</a></h3>
                <p>{% autoescape off %}{{ article.text|linebreaks|striptags|truncatechars:160 }}{% endautoescape %}</p>
            </div>
        </div>
        <div class="card-footer">
            <p style="margin-bottom: 10px"><a href="{% url 'edit' article.id %}">Редагувати статтю</a></p>
            <p><a href="#" onclick="confirmDelete(event, '{{ article.id }}')" style="color: red;">Видалити статтю</a></p>
        </div>
    </div>


    {% endfor %}

</div>

<script>
    function confirmDelete(event, articleId) {
        event.preventDefault();
        if (confirm('Ви впевнені, що хочете видалити статтю?')) {
            fetch('/article/' + articleId + '/delete/')
                .then(response => {
                    if (response.ok) {
                        const articleElement = document.getElementById('article-' + articleId);
                        if (articleElement) {
                            articleElement.remove();
                        }
                    } else {
                        throw new Error('Помилка видалення статті');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Помилка видалення статті');
                });
        }
    }



</script>

{% endblock %}