{% extends 'base.html' %}
{% load i18n %}


{% block support_us %}

<div class="support-us">
    <h1>{% trans "Українська анархічна думка сучасності" %}</h1>
    <p><a href="">{% trans "підтримати проєкт" %}</a></p>
</div>

{% endblock %}

{% block content %}

<h1>{% trans "Останні статті" %}</h1>

<div class="articles-container">

    {% for article in latest_articles %}

    <div class="article-card">
        <div class="card-image" style="background: url('{{ article.image.url }}') no-repeat; background-size: cover;">
            {% for category in article.categories.all %}
            {% if current_language == "en" %}
            <p>{{ category.name_en }}</p>
            {% else %}
            <p>{{ category.name_ua }}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="card-text">
            <h3><a href="{% url 'article' article.id %}" style="text-decoration: none">{{ article.name|linebreaks|truncatechars:130 }}</a></h3>
            <p>{% autoescape off %}{{ article.name|linebreaks|truncatechars:130 }}{% endautoescape %}</p>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}