{% extends 'base.html' %}

{% block content %}

<style>
    main {
        background: none;
        color: black;
    }


        main a {
            color: black;
        }
</style>

<form class="form" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="login" placeholder="Логін" class="form" required />
    <input type="password" name="password" placeholder="Пароль" class="form" required />
    <button class="btn">Увійти</button>
</form>

{% if messages %}
{% for message in messages %}
<p style="color: red; margin-top: 20px">{{ message }}</p>
{% endfor %}
{% endif %}

{% endblock %}
